<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人员首页</title>
    <link rel="stylesheet" href="assets/css/reset.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/person.css">
    <link rel="stylesheet" href="assets/js/alert/window.css">
    <link rel="stylesheet" href="assets/fontSize/iconfont.css">
    <script type="text/javascript" src="assets/js/jquery-2.2.4.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="assets/js/localStorageUtils.js"></script>

    <script type="text/javascript" src="assets/js/alert/window.js"></script>
</head>
<body>
<!--顶部logo-->
<div class="header">
    <img src="assets/images/header.png" alt="">
</div>
<!--内容部分-->
<div class="container">
    <div class="row">
        <div class="col-md-2" style=" padding:0;">
            <div class="introduce">
                <ul class="nav nav-pills nav-stacked">
                    <li class="foot">首页</li>
                    <li><a class="pitch" href="person.html" style="color:#fff;">人员管理</a></li>
                    <li><a href="score.html" style="color:#fff">成绩管理</a></li>
                    <li><a href="infomation.html" style="color:#fff">信息资料</a></li>
                    <li><a href="course.html" style="color:#fff">远程教学</a></li>
                    <li><a href="testScore.html" style="color:#fff">远程考核</a></li>
                    <li><a href="systemManage.html" style="color:#fff">系统管理</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10" style=" padding:0;">
            <div class="detail">
                <div class="detail_header">
                    <div class="header_list">
                        <div class="detail_left">
                            <span>所属单位 </span>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" id="top" aria-expanded="false">
                                    <span>一级单位</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="stair">
                                    <!--<li><a href="#">Action</a></li>-->
                                    <!--<li><a href="#">Another action</a></li>-->
                                    <!--<li><a href="#">Something else here</a></li>-->
                                    <!--<li><a href="#">Separated link</a></li>-->
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" id="secondary" aria-expanded="false">
                                    <span>二级单位</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" id="second">
                                    <!--<li><a href="#">Action</a></li>-->
                                    <!--<li><a href="#">Another action</a></li>-->
                                    <!--<li><a href="#">Something else here</a></li>-->
                                    <!--<li role="separator" class="divider"></li>-->
                                    <!--<li><a href="#">Separated link</a></li>-->
                                </ul>
                            </div>
                        </div>
                        <div class="detail_right">
                            <div class="login_left">
                                <span class="iconfont icon-bangzhu"></span>
                                <span>帮助中心</span>
                            </div>
                            <div class="login_right">
                                <span class="iconfont icon-tuichu"></span>
                                <span onclick="logout()">退出登陆</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="detail_footer">
                    <div class="footer_content">
                        <div class="query clear">
                            <div class="query_left">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default">
                                        筛选查询 <span class="glyphicon glyphicon-triangle-bottom"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="query_right">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="输入关键词进行搜索"
                                           style="margin-top:8px;">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-default " aria-haspopup="true"><span
                                                class="glyphicon glyphicon-search" style="color:#16578d"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="show_search">
                            <ul id="search">
                                <li>
                                    <div class="search_left">
                                        <span>一级单位 :</span>
                                    </div>
                                    <div class="search_right">

                                    </div>
                                </li>
                                <li>
                                    <div class="search_left">
                                        <span>二级单位 :</span>
                                    </div>
                                    <div class="search_right">
                                        <span>一旅</span>
                                        <span>二旅</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="search_left">
                                        <span>性别 :</span>
                                    </div>
                                    <div class="search_right">
                                        <span>男</span>
                                        <span>女</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="search_left">
                                        <span>年龄 :</span>
                                    </div>
                                    <div class="search_right">
                                        <span>17周岁及以下</span>
                                        <span>18-24</span>
                                        <span>25-29</span>
                                        <span>30-34</span>
                                        <span>35-39</span>
                                        <span>40-49</span>
                                    </div>
                                </li>
                                <li class="national">
                                    <div class="search_left">
                                        <span>民族 :</span>
                                    </div>

                                </li>
                                <li class="education">
                                    <div class="search_left">
                                        <span>文化程度 :</span>
                                    </div>
                                    <div class="search_right">

                                    </div>
                                </li>
                                <li>
                                    <div class="search_left">
                                        <span>人员类型 :</span>
                                    </div>
                                    <div class="search_right">
                                        <i class="checbox"></i>
                                      <span>新兵</span>
                                      <span>学兵</span>
                                      <span>士官</span>
                                      <span>本部人员</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="search_left">
                                        <span>政治面貌 :</span>
                                    </div>
                                    <div class="search_right">
                                        <span>群众</span>
                                        <span>共青团员</span>
                                        <span>中共党员</span>
                                        <span>其他</span>
                                    </div>
                                </li>
                                <li class="province ">
                                    <div class="search_left">
                                        <span>籍贯 :</span>
                                    </div>

                                </li>
                            </ul>

                        </div>
                        <div class="design">
                            <ul class="nav nav-tabs">
                                <li role="presentation" class="active"><a href="#">人员记录列表</a></li>
                                <li role="presentation"><a href="#">图表展示</a></li>
                            </ul>
                            <div class="but">
                                <span style="cursor: pointer;" class="label label-primary">添加</span>
                                <span id="delAll" style="cursor: pointer;" class="label label-primary">批量删除</span>
                                <span style="cursor: pointer;" class="label label-primary">清空并导入</span>
                                <span style="cursor: pointer;" class="label label-primary">导出人员信息</span>
                            </div>
                        </div>
                        <div class="personList perRecord" id="tab">
                            <div style="overflow-x: auto;">
                                <table class="table table-bordered " id="peopleHtml">
                                    <thead>
                                    <tr style='background: #1458a7;color: #fff' id="attr"></tr>
                                    </thead>
                                    <tbody class="content" id="userList"></tbody>
                                </table>
                            </div>
                            <div style="float:right;padding: 10px 0 0 0;" id="div2">
                                <p>
                                    <button onclick="first()" class="btn btn-primary btn-sm" id="sys">第一页</button>
                                    <button onclick="prevpage()" class="btn btn-primary btn-sm" id="syys">上一页</button>
                                    <button onclick="nextpage()" class="btn btn-primary btn-sm" id="xyys">下一页</button>
                                    <button onclick="last()" class="btn btn-primary btn-sm" id="mys">最后一页</button>
                                    共<span id="tiaoshu"></span>
                                    </select>条,
                                    第<span id="pageNum"></span>页
                                    <input style="width: 50px;" id="tys" value=""/>
                                    <button onclick="selectByPage()" id="tzs" class="btn btn-primary btn-sm">确定</button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="personList dis" id="chart">
                        我是图表
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="assets/js/public.js"></script>
<script type="text/javascript" src="assets/js/province.js"></script>
<script type="text/javascript" src="assets/js/person.js"></script>
</body>
</html>